{extend name="base"/}
{block name="resources"}
<script>
	var warningObj;
	var tips_url = "{$tips_url}";
</script>
<style>
	.error-tip{
		padding-left: 20px;
		height: 32px;
		line-height: 32px;
		background-color: #fff1e0;
		font-size: 12px;
		color: #ff0000;
	}
	#wrapper {
		height: 100%;
		overflow: auto;
		width: 100%;
	}
</style>
<link rel="stylesheet" type="text/css" href="__ROOT__/app/admin/view/public/upgrades/css/common.css" />
<link rel="stylesheet" type="text/css" href="__ROOT__/app/admin/view/public/upgrades/css/frame.css" />
<script type="text/javascript" src="__ROOT__/app/admin/view/public/upgrades/dialog/jquery.dialog.js?skin=ucDialog"></script>
<script type="text/javascript" src="__ROOT__/app/admin/view/public/upgrades/js/we.js"></script>
<script type="text/javascript" src="__ROOT__/app/admin/view/public/upgrades/js/frame.js"></script>

<style type="text/css">
    body {
        position: relative;
        overflow-x: hidden;
    }
    .main-table {

    }
    .upgrade-layer-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .upgrade-layer {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 40%;
        left: 50%;
        width: 360px;
        height: 120px;
        margin: -60px 0 0 -180px;
        background-color: #fff;
        padding: 20px;
    }

    .tip-text {
        display: none;
    }

    .tip-wait {
        color: #999;
        display: block;
    }

    .tip-success {
        color: #009900;
    }

    .tip-loading {
        color: #FF6600;
    }

    .tip-fail {
        color: #FF0000;
    }

    .upgrade-file {
        text-align: right !important;
        padding-right: 20px;
    }

    .upgrade-file button {
        margin: 10px 0;
        width: 130px;
    }

    .scrolltable thead,
    .scrolltable tbody {
        display: block;
    }

    .scrolltable thead tr,
    .scrolltable tbody tr {
        display: block;
        width: 100%;
        /*height: 36px;*/
        /*line-height: 36px;*/
    }

    .scrolltable tbody {
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #fileListTable tr td {
        display: inline-block;
    }

    #fileListTable tr td input {
        margin-top: 13px;
    }

    .td-set {
        width: 70%;
    }

    .aui_content {
        overflow-y: auto;
    }

    .alert-warn {
        padding: 7px 22px 5px 37px;
        background: #fff3e5;
        border: 1px solid #ff8800;
        border-radius: 2px;
        color: #ff8800;
        font-size: 12px;
        line-height: 2em;
    }
    .filename {
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .margin-bottom-20 {
        margin-bottom: 20px;
    }

    .btn-updatecache{
        margin-left: 0px;
    }
    #search_form{
        margin-left: 0px;
    }
</style>
{/block}

