{extend name="base"/}
{templates 'headers'}
<table cellspacing="0" cellpadding="0" style="width:98%;">
<div id="contentBox"></div>
<td id="contentTemplate" valign="top">
	<div class="header-box clearfix">
		<div class="logo-info pull-left"></div>
		{include file="upgrades/menu" /}
	</div>
	<!-- 主要内容 -->
	<div class="main-area">
		<!-- 标题 -->
		<div class="title-bar">
			<div>
				云工具设置
			</div>
		</div>
		<div class="table-tab" id="userBizTables" style="margin-bottom: 0">
			<ul id='tabs' class="htabs">
				<li class="table-tab--current">
					<a id="#smg" class="selected"><span>短信平台</span></a>
				</li>
				<!--
				<li>
					<a id="#sso" class="selected"><span>单点登录</span></a>
				</li>
				-->
				<!--
				<li>
					<a id="#wxapp" class="selected"><span>小程序上传</span></a>
				</li>
				-->
			</ul>
		</div>
		<div id="smg">
			<form action="{url 'cloud/upgrades' array('pag'=>'tool_view','act'=>'sms_basic')}" method="post">
				<div class="content-block">
					<div class="content-block-title"></div>
					<table class="inner-table edit-table">
						<tr>
							<th style="width: 180px;">首选通道：</th>
							<td>
								<select name="firstchannel" class="select" style="width:150px;padding:0 10px;">
									<option value="0" {if empty($tool_sms['firstchannel'])}selected{/if}>默认阿里云</option>
									{loop $tool_sms $key $value}
										{if $key == $firstchannel}
											<option value="{$key}" selected>{$value['name']}</option>
											{else}
											<option value="{$key}">{$value['name']}</option>
										{/if}
									{/loop}
								</select>
								<span class="show-tip" data-query="weba-setting-smg-firstchannel"></span>
							</td>
						</tr>
						<!--
						<tr>
							<th>备用通道：</th>
							<td>
								<select name="reserveChannel" class="select" style="width: auto;">
									<option value="0" {if $tool_sms['reserveChannel'] == 0}selected{/if}>不启用</option>
									{loop $tool_sms $key $value}
										{if $key == $tool_sms['reserveChannel']}
											<option value="{$key}" selected>{$value['name']}</option>
											<else/>
											<option value="{$key}">{$item}</option>
										{/if}
									{/loop}
								</select>
								<span class="show-tip" data-query="weba-setting-smg-reserveChannel"></span>
							</td>
						</tr>
						-->
					</table>
				</div>
				<div class="content-block">
					<div class="content-block-title">短信通道一
						<span class="show-tip" data-query="weba-setting-smg-smgOne"></span>
					</div>
					<table class="inner-table edit-table">
						<tbody>
						<tr>
							<th style="width: 180px;">通道：</th>
							<td>
								阿里云通讯　https://dayu.aliyun.com/
								<span class="row-title">注：为确保正常发送短信验证码，请正确填写阿里大于的短信通道信息！</span>
							</td>
							<input type="hidden" name="basic[aliyun][name]" value="阿里云"/>
						</tr>
						<tr>
							<th>ApiId：</th>
							<td>
								<input type="text" name="basic[aliyun][apiid]" class="input input-long" value="{$tool_sms['aliyun']['apiid']}"/>
							</td>
						</tr>
						<tr>
							<th>密钥(ApiKey)：</th>
							<td>
								<input type="password" name="basic[aliyun][apikey]" class="input input-long" value="{$tool_sms['aliyun']['apikey']}"/>
							</td>
						</tr>
						<tr>
							<th>签名(Signature)：</th>
							<td><input type="text" name="basic[aliyun][signature]" class="input input-long" value="{$tool_sms['aliyun']['signature']}"/></td>
						</tr>
						<!--
						<tr class="textarea-row">
							<th>模板变量设置：</th>
							<td>
								<textarea name="basic[aliyun][vars]" class="textarea" style="width:400px;height:90px">{$tool_sms['aliyun']['vars']}</textarea>
								<span class="show-tip" data-query="weba-setting-smg-Smsvars"></span>
							</td>
						</tr>
						-->
						<tr>
							<th>模板ID设置[注册/绑定]：</th>
							<td>
								<input type="text" name="basic[aliyun][template][register]" class="input input-long" value="{$tool_sms['aliyun']['template']['register']}"/>
							</td>
						</tr>
						<tr>
							<th>模板ID设置[找回密码]：</th>
							<td>
								<input type="text" name="basic[aliyun][template][find_password]" class="input input-long" value="{$tool_sms['aliyun']['template']['find_password']}"/>
							</td>
						</tr>
						<tr>
							<th>模板ID设置[账户过期]：</th>
							<td>
								<input type="text" name="basic[aliyun][template][user_expire]" class="input input-long" value="{$tool_sms['aliyun']['template']['user_expire']}"/>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="content-block">
					<div class="content-block-title">
						短信通道二
						<span class="show-tip" data-query="weba-setting-smg-smgTwo"></span>
					</div>
					<table class="inner-table edit-table">
						<tbody>
						<tr>
							<th style="width: 180px;">通道：</th>
							<td>
								云之讯　http://www.ucpaas.com
							</td>
							<input type="hidden" name="basic[ucpaas][name]" value="云之讯"/>
						</tr>
						<tr>
							<th>Account Sid：</th>
							<td>
								<input type="text" name="basic['ucpaas']['sid']" class="input input-long" value="{$basic[ucpaas][sid]}"/>
							</td>
						</tr>
						<tr>
							<th>Auth Token：</th>
							<td>
								<input type="password" name="basic[ucpaas][token]" class="input input-long" value="{$basic['ucpaas']['token']}"/>
							</td>
						</tr>
						<tr>
							<th>签名(Signature)：</th>
							<td><input type="text" name="basic[ucpaas][signature]" class="input input-long" value="{$basic['ucpaas']['signature']}"/></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="content-block">
					<table class="inner-table edit-table">
						<tbody>
						<tr>
							<th></th>
							<td>
								<input type="button" value="保存设置" class="btn btn-primary submit ajax-submit" />
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</form>
		</div>

		<div id="sso" style="display:none">
			<form action="{url 'cloud/upgrades' array('pag'=>'tool_view','act'=>'sso_basic')}" method="post">
				<div class="content-block">
					<div class="content-block-title"></div>
					<table class="inner-table edit-table">
						<tr>
							<th style="width: 180px;">API接口URL：</th>
							<td>
								<input type="text" name="sso[apiurl]" class="input input-long" value="{$tool_sso['apiurl']}"/>
								<span class="row-title">注：必须以 http://或https://开头</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="content-block">
					<div class="content-block-title"></div>
					<table class="inner-table edit-table">
						<tr>
							<th style="width: 180px;">APP ID：</th>
							<td>
								<input type="text" name="sso[appid]" class="input input-long" value="{$tool_sso['appid']}"/>
							</td>
						</tr>
					</table>
				</div>
				<div class="content-block">
					<div class="content-block-title"></div>
					<table class="inner-table edit-table">
						<tr>
							<th style="width: 180px;">APP KEY 通信密钥：</th>
							<td>
								<input type="text" name="sso[appkey]" class="input input-long" value="{$tool_sso['appkey']}"/>
							</td>
						</tr>
					</table>
				</div>
				<div class="content-block">
					<div class="content-block-title"></div>
					<table class="inner-table edit-table">
						<tr>
							<th style="width: 180px;">APP SECRET 密文密钥：</th>
							<td>
								<input type="text" name="sso[appsecret]" class="input input-long" value="{$tool_sso['appsecret']}"/>
							</td>
						</tr>
					</table>
				</div>
				<div class="content-block">
					<div class="content-block-title"></div>
					<table class="inner-table edit-table">
						<tr>
							<th>同步登录 *</th>
							<td>
								<label><input type="radio" name="sso[appsync]" value="1" checked="">开启</label>
								<label><input type="radio" name="sso[appsync]" value="0">关闭</label>
							</td>
						</tr>
					</table>
				</div>
				<div class="content-block">
					<table class="inner-table edit-table">
						<tbody>
						<tr>
							<th></th>
							<td>
								<input type="button" value="保存设置" class="btn btn-primary submit ajax-submit" />
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</form>
		</div>

		<link href="__CDN__/app/admin/view/public/upgrades/css/wxapp.css" type="text/css" rel="stylesheet"/>
		<div id="wxapp" style="display:none">
			<form action="{:url 'admin/upgrades/index' array('pag'=>'tool_view','act'=>'wxapp_basic')}" method="post">
				<div class="content-block">
					<div class="page-content step">
						<ul>
							<li class="item-step step-1">
								<div class="title">
									<span class="num active">1</span>
									<span class="spans "></span>
									扫码上传
								</div>
								<div class="explain">
									扫描二维码登录小程序后台
								</div>
							</li>
							<li class="item-step step-2 ">
								<div class="title">
									<span class=" num">2</span>
									<span class="spans "></span>
									填写版本信息
								</div>
								<div class="explain">
									填写小程序版本信息，上传代码
								</div>
							</li>
							<li class="item-step step-3">
								<div class="title">
									<span class="num">3</span>
									<span class="spans "></span>
									提交微信审核
								</div>
								<div class="explain">
									跳转微信页面提交审核
								</div>
							</li>
						</ul>
					</div>

					<!--第一步-->
					<div class="page-content code step-one" style="margin-top: 20px;">
						<img class="code-img" src="{$qrcode}">
						<div>请先扫描以上二维码,成功后再填写版本信息</div>
					</div>
					<!--第二步 01-->
					<div class="page-content step-two step-two-a" style="margin-top: 20px;">
						<div class="inner">
							<div class="title">版本号<span style="font-size: 12px;color: #666;margin-left: 10px;">(当前版本号：{php echo empty($last_log['version'])?'未提交':$last_log['version']})</span></div>
							<div class="content">
								<input class="import" type="text" id="version" value="{php echo empty($last_log['version'])?'':$last_log['version']}"/>
							</div>
							<div class="title">版本描述</div>
							<div class="content">
								<textarea class="import" id="describe">{php echo empty($last_log['describe'])?'':$last_log['describe']}</textarea>
							</div>
							<div class="button" style="padding: 36px 0 36px 200px;">
								<input type="submit" value="上传代码" class="btn btn-primary upload"/>
							</div>
						</div>
					</div>
					<!--第二步 02-->
					<div class="page-content step-two step-two-b" style="margin-top: 20px;">
						<div class="inner">
							<img src="{php echo WE8_Static;}wxapp/images/upload.png"  id="showimgurl" style="width: 100px;height: 100px;"></br>
							<div class="progressbar"><div class="line"></div></div>
							<div style="margin: 40px 0 120px">您的代码正在上传，请等待...</div>
						</div>
					</div>

					<!--第三步-->
					<div class="page-content step-three" style="margin-top: 20px;">
						<div class="inner">
							<div class="uploadsuccess"><div class="check"></div></div>
							<div class="hint">上传代码成功，请到微信开发平台小程序后台预览，提交审核后应用。</div>
							<input type="submit" value="前往微信设置" class="btn btn-primary WeChat"/>
						</div>
					</div>
				</div>
				<div class="content-block">
					<table class="inner-table edit-table">
						<tbody>
						<tr>
							<th></th>
							<td>
								<input type="button" value="保存设置" class="btn btn-primary submit ajax-submit" />
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</form>
		</div>
	</div>
</td>
</table>
{/block}
{block name="script"}
<script>
	$.fn.tab = function (options) {
		var options = $.extend({}, $.fn.tab.defaults, options);
		return this.each(function () {
			var that = $(this);
			var id = that.attr("id");
			that.find("li").bind("click", function () {
				var a = $(this).find("a");
				var a_id = a.attr("id");
				//$.cookie(options.id + "_tabs_" + id, a_id);
				that.find("a").each(function () {

					if ($(this).attr("id") != a_id) {

						$(this).parent().removeClass("table-tab--current");
						$($(this).attr("id")).hide();

					} else {

						$(this).parent().addClass("table-tab--current");
						$($(this).attr("id")).show();
					}
				});
			});
			/*
			if (options.cookie) {

				var urlAddress = location.href;
				var tab = $.url(urlAddress).param('tab');
				var name = $.url(urlAddress).param('name');
				if (tab) {
					$("#" + id).find("[id='#" + tab + "']").click();
					$("input[name=" + name + "]")[0].focus();
				} else {
					var cookie_id = $.cookie(options.id + "_tabs_" + id);
					if (cookie_id) {
						$("#" + id).find("[id='" + cookie_id + "']").click();
					}
				}


			}
			*/
		});
	};
</script>
{/block}
