<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit">
	<meta name="page" content="user.form"/>
	<link href="{php echo WE8_Static;}css/common.css" type="text/css" rel="stylesheet"/>
	<link href="{php echo WE8_Static;}css/frame.css" type="text/css" rel="stylesheet"/>
	<!-- js 引入 begin-->
	<script type="text/javascript" src="{php echo WE8_Static;}js/jquery-1.12.2.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{php echo WE8_Static;}js/jquery.tab.js"></script>
	<script type="text/javascript" src="{php echo WE8_Static;}dialog/jquery.dialog.js?skin=ucDialog"></script>
	<script type="text/javascript" src="{php echo WE8_Static;}js/we.js"></script>
	<script type="text/javascript" src="{php echo WE8_Static;}js/jquery.core.js"></script>
	<!-- js 引入 end-->
	<title>{php echo $pagename;}</title>
</head>
<body>
<table cellspacing="0" cellpadding="0">
	<!--<tr>-->