
<script>
	var warningObj = "{$warning}";
	var tips_url = "{php echo $tips_url}";
</script>
<style>
	.error-tip{
		padding-left: 20px;
		height: 32px;
		line-height: 32px;
		background-color: #fff1e0;
		font-size: 12px;
		color: #ff0000;		
	}
	#wrapper {
		height: 100%;
		overflow: auto;
		width: 100%;
	}	
</style>
<link href="{php echo WE8_Static;}css/common.css" type="text/css" rel="stylesheet"/>
<link href="{php echo WE8_Static;}css/frame.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{php echo WE8_Static;}dialog/jquery.dialog.js?skin=ucDialog"></script>
<!-- <script type="text/javascript" src="{php echo WE8_Static;}js/jquery.cookie.js"></script> -->
<script type="text/javascript" src="{php echo WE8_Static;}js/we.js"></script>
<script type="text/javascript" src="{php echo WE8_Static;}js/frame.js"></script>
<!-- <script type="text/javascript" src="{php echo WE8_Static;}js/purl.min.js"></script> -->
<table cellspacing="0" cellpadding="0" style="width:98%;">
